*,
::before {
    position: relative;
    box-sizing: border-box;
}

/* Card */
.card {
    border: 2px solid white;
    box-shadow: 0px 0px 5px white;
    padding: 2em;
    max-width: 250px;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-style: initial;
    transition: 1.5s ease;
    transform-style: preserve-3d;
    border-radius:5px;
  
}



/* Content */
.card .content {
    transform-style: preserve-3d;
  
    transition: 1s ease;
  
}

.card .back, .card .front {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
    display: flex;
    flex-direction: column;
  
}

.card {
  text-shadow: 0 0 5px black;
}



.card p,
.card h2 {
    transform: translateZ(75px);
}

.card p {
    font-size: 1em;
    line-height: 1.6em;
}

.card h2 {
    margin: 0 0 20px 0;
    font-size: 2.25em;
  color:black;
  
}










:root {
    --blue: #0a4870;
    --blue2: #e3ebf1;
    --black: #000;
    --grey: #7d7d7d;
    --grey2: #f0f0f0;
    --grey3: #e8e7e7;
    --grey4: #fdfdfd;
    --bluegrey: #49606e;
    --orange: #ec992c;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
  }
  
  h2 {
    color: var(--blue);
    font-weight: 500;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  .booking {
    position: relative;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: var(--blue);
    transition: 0.3s;
  }
  
  .booking::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
  }
  
  .booking:hover::before {
    background: rgba(10, 72, 112, 0.6);
  }
  
  .book-container {
    height: 200px;
  }
  
  .book-container .content {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
  }
  
  .booking:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .book-container .content .btn {
    border: 3px solid white;
    padding: 10px 15px;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .book-container .content .btn:hover {
    background: white;
    border: 0px solid white;
    color: var(--blue);
  }
  
  .informations-container {
    flex: 1 0 auto;
    padding: 20px;
    background: var(--grey2);
    transform: translateY(206px);
    transition: 0.3s;
  }
  
  .booking:hover .informations-container {
    transform: translateY(0px);
  }
  
  .informations-container .titlebook {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .informations-container .titlebook::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: var(--blue);
  }
  
  .informations-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .informations-container .price .icon {
    margin-right: 10px;
  }
  
  .informations-container .more-information {
    opacity: 0;
    transition: 0.3s;
  }
  
  .booking:hover .informations-container .more-information {
    opacity: 1;
  }
  
  .informations-container .more-information .info-and-date-container {
    display: flex;
  }
  
  .informations-container .more-information .info-and-date-container .box {
    flex: 1 0;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .informations-container .more-information .info-and-date-container .box .icon {
    margin-bottom: 5px;
  }
  
  .informations-container .more-information .info-and-date-container .box.info {
    color: var(--orange);
    margin-right: 10px;
  }
  
  .informations-container .more-information .disclaimer {
    margin-top: 20px;
    font-size: 0.8em;
    color: var(--grey);
  }
  
  @media (max-width: 768px) {
    .booking {
      transform: translateY(0px);
    }
  
    .booking:hover .informations-container {
      transform: translateY(0px);
    }
  }
  
  .credits {
    display: table;
    background: var(--blue);
    color: white;
    line-height: 25px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .credits a {
    color: var(--blue2);
  }
  
  h1 {
    margin: 10px 20px;
  }
  